---
const {
  image,
  heading,
  title,
  description,
  buttonText,
  variant
} = Astro.props;
---

<section class={`hero_picture ${variant}`}>
  <img src={image} alt="" />

  <div class="dankort">
    <h1 set:html={heading} />
  </div>

  <div class="sejt">
    <h2>{title}</h2>
    <p>{description}</p>

    {buttonText && (
      <a  href="/form/">
      <button class="button-red button-medium">
        {buttonText} <span>→</span>
      </button>
      </a>
    )}
  </div>
</section>

<style>
  .hero_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .red {
    color: red;
  }

  .sejt {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    max-width: 450px;
    margin-left: 20px;
  }

  .dankort {
    position: absolute;
    top: 10px;
    padding-right: 10px;
    max-width: 35%;
  }

  h1 {
    font-size: 3vw;
  }
  h2 {
font-size: clamp(28px, 3vw, 42px) ;
  }

  

  .hero_picture{
    position: relative;
  }

  /* VARIATION 1 */
  .hero--landscape .dankort {
    right: 20px;
  }

  /*VARIATION 2 */
  .hero--strand .dankort {
    right: 20px;
  }
    @media screen and (min-width: 701px) {
    .dankort {
    top: 40px;
  }
    .sejt {
    bottom: 100px;
    left: 80px;
    max-width: 100%;
    }
  }
</style>